<main class="services-page">
  <div
    class="hero-section-container"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="hero-section">
      <div class="row d-flex">
        <div class="hero-text">
          <h1 class="p-0 m-0 text-center">ZION QUALITY CARE SERVICES</h1>
          <p class="p-design pt-0 text-center">
            Helping children grow with love, learning, and laughter.
          </p>
          <a class="border-0 p-3" href="/services#serviceSection">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="program-section d-none">
    <h2 class="pb-3 pt-5 text-center">Beyond Basic Care</h2>
    <p class="pb-5 text-center">
      We offer specialized programs and activities that enrich your child's
      experience and provide opportunities for discovery, creativity, and joy.
    </p>
    <div class="container">
      <div class="row pb-5 mb-3">
        <div class="col-md-6">
          <div class="custom-card me-5 row">
            <div class="col-md-4 image-section image-section2">
              <div class="image-placeholder image-placeholder2">
                <i class="fas fa-image fa-2x text-muted"></i>
              </div>
            </div>

            <div class="col-md-8 content-section">
              <div class="d-flex align-items-center mb-3">
                <div class="icon-circle colored-circle me-2">
                  <i class="fas fa-palette text-warning"></i>
                </div>
                <h4 class="fw-bold mb-0">Learning</h4>
              </div>
              <p class="text-muted">
                Providing a nurturing environment where children explore, learn,
                and grow through interactive activities, storytelling, and
                hands-on experiences.
              </p>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center mb-2">
                  <i class="bi bi-check me-2 check-icon check-icon2"></i>
                  Interactive Learning
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="bi bi-check me-2 check-icon check-icon2"></i>
                  Creative Exploration
                </li>
                <li class="d-flex align-items-center">
                  <i class="bi bi-check me-2 check-icon check-icon2"></i>
                  Foundational Skills
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-card row">
            <div class="col-md-4 image-section">
              <div class="image-placeholder">
                <i class="fas fa-image fa-2x text-muted"></i>
              </div>
            </div>

            <div class="col-md-8 content-section">
              <div class="d-flex align-items-center mb-3">
                <div class="icon-circle me-2">
                  <i class="fas fa-palette text-warning"></i>
                </div>
                <h4 class="fw-bold mb-0">Safe & Loving Childcare</h4>
              </div>
              <p class="text-muted">
                A secure and caring space where children receive personalized
                attention, emotional support, and a structured routine that
                fosters confidence and happiness.
              </p>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center mb-2">
                  <i class="bi bi-check me-2 check-icon"></i> Secure Environment
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="bi bi-check me-2 check-icon"></i> Personalized
                  Attention
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="bi bi-check me-2 check-icon"></i> Emotional Support
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="all-services-section" id="serviceSection">
    <h2 class="text-center pb-md-3">Beyond Basic Care</h2>
    <p class="pb-5 pt-0 text-center">
      We offer specialized programs and activities that enrich your child's
      experience and provide opportunities for discovery, creativity, and joy.
    </p>
    <div class="container">
      <div
        id="all-services-carousel"
        class="carousel slide carousel-fade"
        data-ride="carousel"
        data-wrap="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services text-center">
                  <img
                    class="left-img"
                    src="assets/images/safeHaven.jpg"
                    alt="all-services image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">Safe Haven</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      We offer a secure and supportive space for healing,
                      growth, and recovery. Our environment is designed to
                      nurture emotional well-being and personal development.
                      Everyone deserves a place where they feel safe, valued,
                      and empowered to thrive.
                    </p>
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Secure and supportive environment
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Focus on healing, growth, and recovery
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Emphasis on empowerment
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets/images/behavioralManagement.jpg"
                    alt="behavioral management image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">Behavioural Management</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      We provide tailored, trauma-informed therapy to address
                      individual emotional and behavioral needs. Our licensed
                      therapists offer professional emotional support and
                      personalized sessions to promote healing and growth.
                    </p>
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Trauma-informed counseling and therapy
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Behavioral and emotional support services
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        One-on-one and group sessions with licensed therapists
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets/images/education2.jpg"
                    alt="education image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">Educational Support</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      We provide homework help, school enrollment support, and
                      personalized learning plans through assessments and
                      education plans.
                    </p>
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Homework help and tutoring
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        School enrollment assistance and advocacy
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Learning assessments and individualized education plans
                        (IEPs)
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets/images/lifeSkills.jpg"
                    alt="all-services image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">
                        Life Skills Development & Personal Development
                      </h4>
                    </div>
                    <p class="text-muted all-services-p">
                      We offer financial literacy and budgeting workshops, life
                      skills training, and career mentorship programs.
                    </p>
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Financial literacy and budgeting workshops
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Cooking, cleaning, and home management
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Career guidance and mentorship programs
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets/images/health.jpg"
                    alt="all-services image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">Health & Wellness Support</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      We offer health referrals, nutrition guidance, and
                      wellness programs to support overall well-being.
                    </p>
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Medical, dental, and mental health referrals
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Nutrition education and meal planning
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Physical activity and wellness programs
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets/images/family2.jpg"
                    alt="all-services image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">
                        Family Reunification Services
                      </h4>
                    </div>
                    <p class="text-muted all-services-p">
                      We provide supervised visitations, parenting support, and
                      reunification planning for families.
                    </p>
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Supervised family visitation
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Parenting education and support
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Mediation and reunification planning
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#all-services-carousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="other-services-section">
    <h2 class="pb-3 pt-5 text-center">
      Zion Quality Care's Supplementary Service
    </h2>
    <p class="pb-5 text-center m-0">
      We offer specialized programs and activities that enrich your child's
      experience and provide opportunities for discovery, creativity, and joy.
    </p>
    <div class="row g-3">
      <div class="col-md-4">
        <div class="custom-card w-100">
          <div class="icon-circle">🌳</div>
          <h5 class="fw-bold">Outdoor Adventures</h5>
          <p class="text-muted p-design">
            Nature-based play and physical activities designed to build
            coordination, teamwork, and a love for the outdoors.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-card custom-card2 w-100">
          <div class="icon-circle icon-circle2">🔬</div>
          <h5 class="fw-bold">STEM Exploration</h5>
          <p class="text-muted p-design">
            Interactive science, technology, engineering, and math activities
            that spark curiosity and critical thinking in young minds.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-card custom-card3 w-100">
          <div class="icon-circle icon-circle3">🎨</div>
          <h5 class="fw-bold">Creative Arts</h5>
          <p class="text-muted p-design">
            Encouraging self-expression through painting, crafts, and hands-on
            art projects to develop creativity and fine motor skills.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn gradient-btn" (click)="goToContact()">
        Send us a message
      </button>
    </div>
  </div>
</main>
