<main class="about-page">
  <div
    class="hero-section-container"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="hero-section">
      <div class="row d-flex">
        <div class="hero-text">
          <h1 class="p-0 m-0">
            Shaping Bright Futures, One Strong Foundation at a Time.
          </h1>
          <p class="p-design pt-0 text-center">
            We focus on growth and care in a nurturing way
          </p>
          <a class="border-0 p-3" href="/about#aboutSection">Learn More </a>
        </div>
      </div>
    </div>
  </div>
  <div class="story-section d-none">
    <h2 class="text-center pt-5">Our Story Section</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="story-img">
          <img src="assets\images\story.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <p>
          <span>
            Founded in 2025, Zion Quality Care was established with a heartfelt
            mission: to provide exceptional care and education in a nurturing
            environment where youth's feel safe, loved, and inspired.
          </span>
          <br /><br />
          <span>
            From the very beginning, our focus has been on fostering growth,
            stability, and hope—ensuring that every youth is empowered to build
            a strong foundation for a bright and purposeful future.
          </span>
          <br /><br />
          <span>
            Our approach blends the best elements of proven educational
            philosophies, including Montessori, Reggio Emilia, and play-based
            learning, thoughtfully tailored to meet the unique needs of each
            youth. While we continue to grow, our unwavering commitment remains
            the same: delivering compassionate, high-quality care that supports
            each youth's journey toward realizing their full potential.
          </span>
          <br /><br />
          <span>
            At Zion Quality Care, we stand by our vision and mission every day,
            embracing our guiding principle:
          </span>
          <br /><br />
          <span class="fw-bold">
            “Building Strong Foundations, Nurturing Bright Futures.”
          </span>
          <br /><br />
        </p>
        <div class="team-card pb-5">
          <div class="profile-img">
            <img src="https://via.placeholder.com/60" alt="Profile" />
          </div>
          <div class="team-text">
            <h5>Tobi Lawal</h5>
            <p>Founder & Director</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="about-section pt-5 mt-3 mb-5" id="aboutSection">
    <h2 class="text-center">Why Choose Zion Quality Care</h2>
    <p class="text-center pb-0 pb-md-5 mb-3">
      At Zion Quality Care, we are more than just a care provider—we are a
      family committed to creating a safe, nurturing, and empowering environment
      for every youth entrusted to us.
    </p>
    <div class="row mb-4 mx-3 g-3">
      <div class="col-md-6 p-0 pe-md-3">
        <div class="box">
          <div class="feature-icon yellow">
            <i class="bi bi-house-door"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">A Home that feels like Family</h3>
            <p>
              We create a comforting, home-like atmosphere where youths can feel
              secure, supported, and cared for like family.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon pink"><i class="bi bi-heart"></i></div>
          <div class="feature-text">
            <h3 class="text-dark">Personalized Care Plans</h3>
            <p>
              Every youth is unique, and we tailor our services to meet their
              specific needs—whether it’s emotional support, life skills
              development, or academic guidance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 pe-md-3">
        <div class="box">
          <div class="feature-icon blue">
            <i class="bi bi-shield-check"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Strong Community Partnerships</h3>
            <p>
              We collaborate with families, schools, health professionals, and
              community agencies to ensure the best outcomes for every youth
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon green">
            <i class="bi bi-backpack"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Experienced & Compassionate Staff</h3>
            <p>
              Our team is made up of skilled professionals who are deeply
              passionate about making a positive impact in the lives of youths.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon purple">
            <i class="bi bi-clock"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Holistic Development Approach</h3>
            <p>
              We focus on the whole mind, body, and spirit—offering programs and
              support that promote long-term well-being and success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
