<main class="about-page">
  <div class="hero-section-container">
    <div class="hero-section">
      <div class="row d-flex">
        <div class="hero-text">
          <h1 class="p-0 m-0">
            Shaping Bright Futures, One Strong Foundation at a Time.
          </h1>
          <p class="p-design pt-0 text-center">
            We focus on growth and care in a nurturing way
          </p>
          <button class="border-0 p-3">Learn More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="story-section d-none">
    <h2 class="text-center pt-5">Our Story Section</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="story-img">
          <img src="assets/images/story.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <p>
          <span>
            Founded in 2025, Zion Quality Care was established with a heartfelt
            mission: to provide exceptional care and education in a nurturing
            environment where children feel safe, loved, and inspired.
          </span>
          <br /><br />
          <span>
            From the very beginning, our focus has been on fostering growth,
            stability, and hope—ensuring that every child is empowered to build
            a strong foundation for a bright and purposeful future.
          </span>
          <br /><br />
          <span>
            Our approach blends the best elements of proven educational
            philosophies, including Montessori, Reggio Emilia, and play-based
            learning, thoughtfully tailored to meet the unique needs of each
            child. While we continue to grow, our unwavering commitment remains
            the same: delivering compassionate, high-quality care that supports
            each child's journey toward realizing their full potential.
          </span>
          <br /><br />
          <span>
            At Zion Quality Care, we stand by our vision and mission every day,
            embracing our guiding principle:
          </span>
          <br /><br />
          <span class="fw-bold">
            “Building Strong Foundations, Nurturing Bright Futures.”
          </span>
          <br /><br />
        </p>
        <div class="team-card pb-5">
          <div class="profile-img">
            <img src="https://via.placeholder.com/60" alt="Profile" />
          </div>
          <div class="team-text">
            <h5>Tobi Lawal</h5>
            <p>Founder & Director</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section pt-5 mt-3 mb-5">
    <h2 class="text-center">Why Choose Zion Care</h2>
    <p class="text-center pb-0 pb-md-5 mb-3">
      We provide more than just childcare – we offer a foundation for lifelong
      learning and development in a safe and enrinching environment.
    </p>
    <div class="row mb-4 mx-3 g-3">
      <div class="col-md-6 p-0 pe-md-3">
        <div class="box">
          <div class="feature-icon pink"><i class="bi bi-heart"></i></div>
          <div class="feature-text">
            <h3 class="text-dark">Loving Environment</h3>
            <p>
              Our nurturing staff creates a warm, loving atmosphere where
              children feel secure and valued.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon blue">
            <i class="bi bi-shield-check"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Safety First</h3>
            <p>
              Comprehensive safety measures and protocols ensure your child's
              wellbeing is our top priority.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 pe-md-3">
        <div class="box">
          <div class="feature-icon green">
            <i class="bi bi-backpack"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Qualified Educators</h3>
            <p>
              Our dedicated team of qualified educators is committed to
              nurturing every child’s growth through a holistic approach to
              development
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon purple">
            <i class="bi bi-clock"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Holistic Child Development</h3>
            <p>
              By fostering cognitive, social, emotional, and physical
              well-being, we create a warm and supportive environment where
              children can learn, explore, and thrive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
