<main class="home-page">
  <div
    class="hero-section-container"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="hero-section">
      <div class="row d-flex">
        <div class="hero-text">
          <h1 class="p-0 m-0 text-center">
            Building Strong Foundations and Nurturing Bright Futures
          </h1>
          <p class="p-design pt-0 text-center">
            Helping youths grow with love, learning, and laughter.
          </p>
          <button (click)="goToAbout()">Learn More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-section d-none">
    <div class="row">
      <div class="col-3 d-flex justify-content-center">
        <p>Child Care <br />Impact Statistics</p>
      </div>
      <div class="col-3 d-flex flex-column align-items-start">
        <p class="p-0">Happy Children Enrolled</p>
        <h6 class="first">1.5k+</h6>
      </div>
      <div class="col-3 d-flex flex-column align-items-start">
        <p>Qualified & Caring Staff</p>
        <h6>50+</h6>
      </div>
      <div class="col-3 d-flex flex-column align-items-start">
        <p>Satisfaction Rate</p>
        <h6>98%</h6>
      </div>
    </div>
  </div>

  <div class="home-from-home-section mt-5">
    <div class="row m-0">
      <div class="col-md-6 p-0">
        <div class="left-section">
          <img src="assets\images\field.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="right-section d-flex flex-column">
          <h1 class="text-center pb-3 pb-md-4 m-0 pt-3 pt-md-0">
            Welcome to Zion Quality Care
          </h1>
          <p class="mb-2 mb-md-0">
            Zion Quality Care is dedicated to supporting the unique needs of
            every youth. We provide a safe, nurturing environment that feels
            like a second home where everyone can grow, learn, and build
            meaningful connections. Our experienced and compassionate caregivers
            offer individualized care and guidance to help each youth thrive
            emotionally, socially, and academically. At Zion Quality Care, we
            don’t just provide shelter we build hope, healing, and brighter
            futures.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="services-section">
    <h2 class="text-center">Our services<br /></h2>

    <div class="row services-row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="text-center text-md-start">
          <h3 class="mb-3">Guiding Growth and Empowering Futures</h3>
          <p class="mb-0 mb-md-5 pb-3">
            At Zion Quality Care, we provide strong foundations for youths to
            thrive and build a bright future. Through compassionate care,
            personalized support, and a nurturing environment, we help every
            youth feel valued, safe, and empowered to reach their full
            potential.
          </p>
          <button class="cta-button mb-4 mb-md-0" (click)="goToServices()">
            View More →
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-3">
          <div class="col-md-6" *ngFor="let item of services">
            <div class="service-card">
              <img [src]="item.icon" alt="Management" />
              <h5>{{ item.heading }}</h5>
              <p>
                {{ item.message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mission-vision-section">
    <h2 class="text-center">Our Purpose</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="left-section m-0">
          <div class="image-section">
            <img src="assets\images\mission.jpg" alt="" />
          </div>
          <div class="d-flex flex-column pt-4">
            <h1 class="text-center">Our Vision</h1>
            <p>
              To create a nurturing environment where every youth is empowered
              to build a strong foundation for a bright and purposeful future.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-section">
          <div class="image-section">
            <img src="assets\images\care.jpg" alt="" />
          </div>
          <div class="d-flex flex-column pt-4">
            <h1 class="text-center">Our Mission</h1>
            <p>
              At Zion Quality Care, we are dedicated to delivering
              compassionate, high quality care that fosters growth, stability,
              and hope. We support each youth's journey toward realising their
              full potential.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
